*{
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    list-style: none;
}

.page{
    width: 21cm;
    min-height: 29.7cm;
    padding: 3cm;
    margin: 1cm auto;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}


@page{
    size: A4 portrait; /*landscape is horizontal*/
    margin: 0;
}

@media print{
    .page{
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}